[[language]]
name = "javascript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "jsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "typescript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "tsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "yaml"] }

[[language]]
name = "python"
auto-format = true

[[language]]
name = "json"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "json"] }

[[language]]
name = "html"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "html"] }

[[language]]
name = "markdown"
auto-format = true
indent = { tab-width = 2, unit = "  " }
formatter = { command = "prettier", args = ["--parser", "markdown", "--prose-wrap", "always"] }

[[language]]
name = "cpp"
auto-format = true
formatter = { command = "clang-format" }

[[language]]
name = "python"
auto-format = true
formatter = { command = "black", args = ["-", "--quiet", "--line-length=79"] }

[[language]]
name = "ocaml"
file-types = ["ml", "re", "rei"]
auto-format = true
formatter = { command = "refmt" }

[language-server]
ocamllsp = { command = "esy", args = ["ocamllsp"] }

[[language]]
name = "elm"
auto-format = true
formatter = { command = "elm-format", args = ["--stdin"] }
