storage.lock
qBittorrent-data.conf

.gitsecret/keys/random_seed
!*.secret
home/rclone/.config/rclone/rclone.conf
home/metatools/.autogen

home/git/.gitconfig.wr
home/git/.gitconfig
home/fonts/.fonts/ComicCodeLigatures-Bold.otf
home/fonts/.fonts/ComicCodeLigatures-BoldItalic.otf
home/fonts/.fonts/ComicCodeLigatures-Italic.otf
home/fonts/.fonts/ComicCodeLigatures-Light.otf
home/fonts/.fonts/ComicCodeLigatures-LightIta.otf
home/fonts/.fonts/ComicCodeLigatures-MedIta.otf
home/fonts/.fonts/ComicCodeLigatures-Medium.otf
home/fonts/.fonts/ComicCodeLigatures-Regular.otf
home/fonts/.fonts/ComicCodeLigatures-SemBdIta.otf
home/fonts/.fonts/ComicCodeLigatures-SemiBold.otf
home/fonts/.fonts/ComicCodeLigatures-Thin.otf
home/fonts/.fonts/ComicCodeLigatures-ThinItalic.otf
home/fonts/.fonts/ComicCodeLigatures-UltLtIta.otf
home/fonts/.fonts/ComicCodeLigatures-UltraLight.otf
