[user]
	email = invakid404@riseup.net
	name = invakid404
	signingkey = 37088CA29242C6E5
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@code.funtoo.org:7999/"]
	insteadOf = "https://code.funtoo.org/bitbucket/scm/"
[core]
	editor = emacs
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git-templates
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	rebase = rebase --committer-date-is-author-date
	recreate = !git checkout $1 && git branch -D $2 && git checkout -b $2 && :
	sign-old = rebase --exec 'git commit --amend --no-edit -n -S' -i
