[user]
	email = invakid404@riseup.net
	name = invakid404
	signingkey = 37088CA29242C6E5
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@code.funtoo.org:7999/"]
	insteadOf = "https://code.funtoo.org/bitbucket/scm/"
[core]
	editor = emacs -nw
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git-templates
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	rebase = rebase --committer-date-is-author-date
	recreate = !git checkout $1 && git branch -D $2 && git checkout -b $2 && :
	sign-old = rebase --exec 'git commit --amend --no-edit -n -S' -i
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	features = decorations
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
